<div class="card" *ngIf="product.title">
  <img class="card-img-top" style="height: 250px;" *ngIf="product.imageUrl" alt="{{product.title}}" [src]="product.imageUrl">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.price | currency:'INR':true }}</p>
  </div>
  <div class="card-footer" *ngIf="showActions && shoppingCart">
      
    <button  (click)="addToCart(product)" *ngIf="shoppingCart.getQuantity(product) === 0;else updateQuantity"
      class="btn btn-secondary btn-block">Add to Cart
    </button>
        
    <ng-template #updateQuantity>

      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
      
    </ng-template>
  </div>
</div>