.dropdown-toggle{
    cursor: pointer;
}
.fa{
    margin-right: 4px;
}
.fresh{
    margin-left: -19px;
    color: white;
}

.fa.fa-leaf{
    color:#c1d62e
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
.fresh:hover{
    color: white;
}

.fresh:focus{
    color: white;
}

.fa.fa-shopping-cart{
    color: white;
}
.fa.fa-shopping-cart:hover{
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}
