<h2>Shopping Cart</h2>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <!-- <div>{{cart.items | json}}</div> -->
  <p>
    You have {{cart.totalItemsCount}} items in your Shopping Cart
    <button *ngIf="cart.items.length" 
    (click)="clearCart()" 
    class="btn btn-light btn-sm">Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px;">Quantity</th>
        <th class="text-right" style="width: 200px;">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td><img [src]="item.product.imageUrl" class="thumbnail"></td>
        <td>{{item.product.title}}</td>
        <td>
          <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">{{item.totalPrice | currency:'INR':true}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Grand Total</th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'INR':true  }}</th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
</div>