<div class="pt-5 mt-5 pt-md-0 mt-md-0">
    <h1>Orders</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Customer Name</th>
                <th>Date of Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of order$ | async">
                <td>{{order.shippingInfo.name}}</td>
                <td>{{order.datePlaced|date}}</td>
                <!-- <td>{{order.items.}}</td> -->
            </tr>
        </tbody>
    </table>
</div>