/* //sidenav */
@media (min-width: 768px) {
    .sidebar{
        display: none !important;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #d4d9de;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}